.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editor {
  width: 800px;
  margin: 100px auto;
  border: 1px solid;
  border-radius: 5px;
}

.wrapperClassName {
  padding: 10px;
}

.editorClassName {
  padding: 0 10px;
}

.App .rdw-editor-main {
  height: 180px;
}

.App .hashtag {
  text-decoration: underline;
}

.App .rdw-hashtag-link {
  background-color: transparent;
  color: rgb(0, 183, 255);
}

.public-DraftStyleDefault-block {
  line-height: 1;
}